*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root{
    /* primary */
    --full-slider-bar: hsl(174, 77%, 80%);
    --slider-background: hsl(174, 86%, 45%);
    --slider-background-active: hsl(174, 86%, 35%);
    --discount-background: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --cta-text: hsl(226, 100%, 87%);


    /* neutral */
    --pricing-component-background: hsl (0, 0%, 100%);
    --main-background: hsl(230, 100%, 99%);
    --empty-slider-bar: hsl(224, 65%, 95%);
    --toggle-background: hsl(223, 50%, 87%);
    --text: hsl(225, 20%, 60%);
    --text-and-cta-background: hsl(227, 35%, 25%);
}

body{
    font-size: 15px;
    color: var(--text);
    width: 100%;
    height: 100vh;
    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50vh;
}

@media (max-width: 900px){
    body{
        padding: 2em 2.6em;
    }
}
h1{
   font-weight: 800; 
   color: var(--text-and-cta-background);
   margin-bottom: .6rem;
}
@media (max-width: 900px){
    h1{
        font-size: 1rem;
    }
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgimg{
    position: absolute;
    z-index: -2;
    top: -10rem;
    left: 0;
    width: 9rem;
    height: 1rem;
    margin: 0 auto;
    display: none;
    overflow: hidden;
}

@media (max-width: 900px){
    .container{
        background-image: none;
    }

    .bgimg{
        display: block;
    }
}

/* header */
header{
    background-color: transparent;
    width: 100%;
    height: 45vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7rem;
}

@media (max-width: 900px){
 header{
    flex-wrap: wrap;
    height: auto;
    padding: 6em 0 2.2em;
    font-size: .6rem;
    margin-bottom: 1.4rem;
 }
 
 header p{
    width: 60%;
    margin: 0 auto;
 }
}
/* main */
main{
    background-color: var(--main-background);
    width: 40vw;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0 , 0.1);
}

@media (max-width: 900px){
 main{
    width: 100%;
 }   
}
.top{
    width: 100%;
    padding: 3.4em 2.8em 2em;
    height: auto;
    border-bottom: 1px solid var(--text);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (max-width: 900px){
    .top{
        padding: 2em 1.8em 2em;
    }
}

.top > * + *{
    margin-top: 1.8rem;
    height: auto;
}

.pricing-and-views{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

@media (max-width: 900px){
    .pricing-and-views{
        flex-direction: column;
        align-items: center;
    }

}

.page-views{
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 900px){
    .page-views{
        font-size: .6rem;
    }
}

.pricing{
    width: auto;
    height: auto;
    margin-left: min(2.4rem);
}

@media (max-width: 900px){
    .pricing{
        margin-left: 0;
    }
}

.pricing label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price{
    color: var(--text-and-cta-background);
    font-size: 2.4rem;
    font-weight: 800;
}

@media (max-width: 900px){
    .price{
        font-size: 1.6rem;
    }
}

.slide-bar{
    width: 100%;
}

/* styling the slide bar */
.slider-1{
    appearance: none;
    width: 100%;
    height: 8.4px;
    border-radius: 50px;
    background: linear-gradient( 90deg, var(--full-slider-bar) 50%, var(--empty-slider-bar) 50%);
    outline: none;
}

#slider::-webkit-slider-thumb{
    appearance: none;
    border: 1px solid hsl(174, 86%, 35%);
    border-radius: 50px;
    height: 36px;
    width: 36px;
    background-color: var(--slider-background);
    background-image: url(images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media (max-width: 900px){
    #slider::-webkit-slider-thumb{
        height: 30px;
        width: 30px;
    }
}

#slider:active::-webkit-slider-thumb{
    background-color: var(--slider-background-active);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(74,186,175,0.4);
    -moz-box-shadow: 1px 1px 15px 0px rgba(74,186,175,0.4);
    box-shadow: 1px 1px 15px 0px rgba(74,186,175,0.4);
}
/* lets continue */
.billing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
}

@media (max-width: 900px){
    .billing{
        font-size: .6rem;
        justify-content: fl;
    }
}

.billing > * + *{
    margin-left: 1rem;
}

@media (max-width: 900px){
    .billing > * + *{
        margin-left: .6rem;
    }
}

input[type="checkbox"]{
    position: relative;
    width: 3rem;
    height: 1.5rem;
    appearance: none;
    background: var(--toggle-background);
    outline: none;
    border-radius: 20px;
    transition: .5s ease-in-out;
}

@media (max-width: 900px){
    input[type="checkbox"]{
        width: 2.4rem;
        height: 1.2rem;
    }
}

input:checked[type="checkbox"]{
    background: var(--full-slider-bar);
}

input[type="checkbox"]::before{
    content: "";
    position: absolute;
    width: .9rem;
    height: .9rem;
    border-radius: 50px;
    left: .4rem;
    bottom: .3rem;
    background-color: #fff;
    transition: .35s ease-in-out;
}

@media (max-width: 900px){
    input[type="checkbox"]::before{
        width: .8rem;
        height: .8rem;
        left: .3rem;
        bottom: .2rem;
    }
}

input:checked[type="checkbox"]::before{
    transform: translateX(1.3rem);
}

@media (max-width: 900px){
    input:checked[type="checkbox"]::before{
        transform: translateX(1.1rem);
    } 
}

.discount{
    color: var(--discount-text);
    background-color: var(--discount-background);
    font-size: .6rem;
    border-radius: 20px;
    padding: .3em .5em;
    font-weight: 800;
}

@media (max-width: 900px){
    .discount{
        padding: .2em .6em;
    }
}

.bottom{
    width: 100%;
    height: auto;
    padding: 2em 2.8em 2em;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 900px){
    .bottom{
        padding: 1.6em 2em 1.6em;
        flex-direction: column;
        justify-content: unset;
    }
}

.bottom ul{
    margin-left: 1.2rem;
}

@media (max-width: 900px){
    .bottom ul{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.bottom li{
    padding-left: .8em;
}

.bottom li::marker{
    content: url(images/icon-check.svg);
}

.bottom ul > * + * {
    margin-top: .4rem;
}

button{
    background-color: var(--text-and-cta-background);
    margin-left: min(3rem);
    border: none;
    border-radius: 20px;
    padding: .8em 2.6em;
    color: var(--cta-text);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

@media (max-width: 900px){
    button{
        padding: .8em 3.6em;
        margin-left: 0;
        margin-top: 1.6rem;
    }
}

button:hover{
    color: #fff;
}


/* footer */
footer{
    width: 100%;
    text-align: center;
    font-size: .8rem;
    margin: 3rem 0 .6rem;
}
